@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Font */
@font-face {
    font-family: 'AZONIX';
    src: url('./fonts/Azonix.otf');
}
@font-face {
    font-family: 'LEMON MILK';
    src: url('./fonts/LEMONMILK-Regular.otf');
}

/* Custom Scroll-Bar */
::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    background-color: #251a4d;
}

::-webkit-scrollbar-thumb{
    background-color: #afaabe;
    border-radius: 5px; 
}

::-webkit-scrollbar-thumb:hover{
    background-color: #dedce4;
}